# Alibaba Cloud Model Studio Beijing Workspace
DASHSCOPE_API_KEY=sk-ws-H.EXPPPDX.2dsQ.MEUCIQCSV3TJlUZxsctILLl5xuldXpXZcr9c_O1e5Tzyosg55QIgEdxzdzGVEtsq5TTkVMOv3_1XrSUQxD6LvE7V0fEyfiY
DASHSCOPE_BASE_URL=https://ws-1pb723s50rmgu0wh.cn-beijing.maas.aliyuncs.com/api/v1
